body {background-color:7289DA;
}
//p, h1, h2, h3, h4, h5, h6, h7 {
    font-family: Tahoma, Geneva, sans-serif;
  color:white;
}
hr {
  color:blue;
}
button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font: inherit;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #fff;
}
img {
    padding:2px;
}
}
